buffers: {
    size_kb: 65536
    fill_policy: RING_BUFFER
}
data_sources: {
    config {
        name: "linux.ftrace"
        ftrace_config {
            ftrace_events: "sched/sched_switch"
            ftrace_events: "power/cpu_frequency"
            ftrace_events: "task/task_rename"
            ftrace_events: "task/task_newtask"
            ftrace_events: "sched/sched_process_exit"
            ftrace_events: "sched/sched_process_free"
            atrace_categories: "view"
            atrace_categories: "dalvik"
            atrace_categories: "audio"
            atrace_apps: "{{APP_PACKAGE}}"
        }
    }
}
data_sources: {
    config {
        name: "linux.process_stats"
        process_stats_config {
            scan_all_processes_on_start: true
        }
    }
}
data_sources: {
    config {
        name: "track_event"
    }
}
duration_ms: 15000
