<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.example.jetcaster.glancewidget.JetcasterAppWidgetReceiver"
            android:enabled="true"
            android:label="@string/app_widget_description"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/jetcaster_info" />
        </receiver>
    </application>

</manifest>