name: Build and Test Sample

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      path:
        required: true
        type: string

concurrency:
  group: ${{ inputs.name }}-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11

      - name: Generate cache key
        run: ./scripts/checksum.sh ${{ inputs.path }} checksum.txt

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches/modules-*
            ~/.gradle/caches/jars-*
            ~/.gradle/caches/build-cache-*
          key: gradle-${{ hashFiles('checksum.txt') }}

      - name: Check spotless
        working-directory: ${{ inputs.path }}
        run: ./gradlew spotlessCheck --stacktrace

      - name: Check lint
        working-directory: ${{ inputs.path }}
        run: ./gradlew lintDebug --stacktrace

      - name: Build debug
        working-directory: ${{ inputs.path }}
        run: ./gradlew assembleDebug --stacktrace

      - name: Build release
        working-directory: ${{ inputs.path }}
        run: ./gradlew assembleRelease --stacktrace

      - name: Run local tests
        working-directory: ${{ inputs.path }}
        run: ./gradlew testDebug --stacktrace

      - name: Upload build outputs (APKs)
        uses: actions/upload-artifact@v3
        with:
          name: build-outputs
          path: ${{ inputs.path }}/app/build/outputs

      - name: Upload build reports
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: build-reports
          path: ${{ inputs.path }}/app/build/reports
