name: GitHub Release with APKs

on:
  workflow_dispatch:
  push:
    tags:
    - 'v*'
env:
  compose_store_password: ${{ secrets.COMPOSE_STORE_PASSWORD }}
  compose_key_alias: ${{ secrets.COMPOSE_KEY_ALIAS }}
  compose_key_password: ${{ secrets.COMPOSE_KEY_PASSWORD }}
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
      - name: Checkout
        uses: actions/checkout@v6   

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Build all projects
        run: ./scripts/gradlew_recursive.sh assembleDebug

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false

      - name: Upload Jetcaster
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Jetcaster/mobile/build/outputs/apk/debug/app-debug.apk
          asset_name: jetcaster-debug.apk
          asset_content_type: application/vnd.android.package-archive          

      - name: Upload Jetchat
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Jetchat/app/build/outputs/apk/debug/app-debug.apk
          asset_name: jetchat-debug.apk
          asset_content_type: application/vnd.android.package-archive          

      - name: Upload Jetnews
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: JetNews/app/build/outputs/apk/debug/app-debug.apk
          asset_name: jetnews-debug.apk
          asset_content_type: application/vnd.android.package-archive

      - name: Upload Jetsnack
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Jetsnack/app/build/outputs/apk/debug/app-debug.apk
          asset_name: jetsnack-debug.apk
          asset_content_type: application/vnd.android.package-archive
